.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: rgb(76, 161, 148);
}

#logo{
    font-family: "Gochi Hand", cursive;
    color: white;
    font-size: 4rem;
    text-align: center;
}

.tombolaCirce{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 8%;
    margin: 1%;
	aspect-ratio: 1;
	border-radius: 50px;

    background: #ffffff;
    color: #000000;
    font-weight: 700;

    box-shadow:-2px 2px 0px 0px #BFBFBF;
}